{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis incidunt laudantium nisi pariatur provident quae tempore vero. Cumque esse, explicabo fugiat hic minus mollitia quasi, repudiandae, sequi suscipit ullam voluptas.
    </p>
{{end}}